{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список кандидатов!</h1>
    <ul>
        {% for candidate in candidates %}
            <li>
                <a href="/candidate/{{ candidate.id }}">
                    #{{ candidate.id }}. {{ candidate.firstName|e }} {{ candidate.lastName|e }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
