{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ваш аккаунт </h1>
    
    {% if successMessages %}
        <div class="alert alert-success">
        {% for message in successMessages %}
            <li>
                {{ message|e }}
            </li>
        {% endfor %}
        </div>
    {% endif %}
    {% if errorMessages %}
        <div class="alert alert-danger">
        {% for message in errorMessages %}
            <li>
                {{ message|e }}
            </li>
        {% endfor %}
        </div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
