{% extends 'base.html.twig' %}

{% block body %}
    <h1>Кандидат </h1>
    <p>#{{ candidate.id }}. {{ candidate.firstName|e }} {{ candidate.lastName|e }}</p>
    {% if candidate.fileSummary %}
        <a target="_blank" href="{{ candidate.fileSummaryWebPath }}" >{{ candidate.fileSummary | e }}</a>
    {% endif %}
    <p>
        <a href="/candidate">
            See all list
        </a>
    </p>
{% endblock %}
