<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Test application for Relocate.me!{% endblock %}</title>
    <meta name="description" content="Test application for Relocate.me">
    <meta name="author" content="Luchinkin Ivan">
    {% block stylesheets %}
        {% stylesheets
            filter="?uglifycss"
            filter="cssrewrite"
            "%kernel.root_dir%/../vendor/bower/bootstrap/dist/css/bootstrap.min.css"
            "%kernel.root_dir%/../vendor/bower/bootstrap/dist/css/bootstrap.min.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {% block navbar %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" 
                            data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Навигационная панель</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Главная</a>
                </div>
            </div>
        </nav>
    {% endblock %}

    <div class="jumbotron">
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Обратная связь</h2>
                <p>Вы всегда можете связаться с нами</p>
                <p><a class="btn btn-default" href="/contacts" role="button">Детальнее &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <h2>О проекте</h2>
                <p>Это тестовый проектю Используемый фреймворк - Symfony </p>
                <p><a class="btn btn-default" href="/about" role="button">Детальнее &raquo;</a></p>
            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; 2017, Luchinkina Ivan</p>
        </footer>
    </div>

    {% block javascripts %}
        {% javascripts
                    "%kernel.root_dir%/../vendor/bower/bootstrap/dist/js/bootstrap.min.js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>
</html>
