{% extends 'base.html.twig' %}

{% block body %}
    <h1>Допро пожаловать!</h1>
    <p>Здесь Вы можете поменять свои данные</p>
    <p><a class="btn btn-primary btn-lg" href="/candidate/update/{{ user.id }}" role="button">Изменить данные &raquo;</a></p>
{% endblock %}

