{% extends 'info.html.twig' %}

{% block body %}
    <h1>Тестовое задание </h1>
    <p>Реализовать на последней стабильной версии Symfony, следующий функционал:</p>

 <p>1) Сделать авторизацию/регистрацию на сайте.
<br>2) В личном кабинете пользователя вывести форму, в которой будут следующие поля:
<br>2.1) Имя пользователя (текстовое поле).
<br>2.2) Фамилия пользователя (текстовое поле).
<br>2.3) Страна проживания (выпадающий список, данные берутся из отдельной таблицы с именами стран).
<br>2.4) Кол-во лет опыта (любой тип поля, на своё усмотрение).
<br>2.5) Резюме (файл).
<br>3) Форма должна быть обработана на бэкенде и быть сохранена (то есть, когда бы я не зашёл в свой личный кабинет - 
там должна быть форма с сохранёнными значениями, которые доступны для дальнейшего редактирования).</p>

 <p>Валидации никакие дополнительные не нужно реализовывать к полям, чисто на бэкенде у формы проверять на isValid().</p>

 <p>Стоит учесть, что на бэкенде должно быть две модели со связью между собой:
<br>1) Пользователь (у него только 3 поля в таблице: email, fist_name, last_name. Остальные поля формы находятся в таблице кандидата).
<br>2) Кандидат (для которого и делается форма в личном кабинете).</p>

 <p>Для тестового задания разрешено использовать любые сторонние расширения.</p>

 <p>Как будет это всё выглядеть на фронтенде в большей степени совсем не важно, но
минимально оформить хотя бы стандартными бутстраповскими элементами - желательно.</p>
{% endblock %}