{% extends 'landing.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


{% endblock %}

{% block navbar %}
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" 
                                data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Навигационная панель</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Тестовый проект</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <form class="navbar-form navbar-right" method="post" action="{{path('login_check')}}">
                            <div class="form-group">
                                <input type="text" id="username" name="_username" placeholder="Email" class="form-control" required autofocus>
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" name="_password" placeholder="Пароль" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-success">Залогинится</button>
                        </form>
                    </div>
                </div>
            </nav>
        {% endblock %}